@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url('./detail-bg.jpg');
    background-color: black;

}


#wrapper {
    
    background-color: #161616;
}
#header {
    height: 72px;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 13px 10%;
    margin-bottom: 5px;

}

@media screen and (max-width: 900px) {
    #header {
        padding: 13px 2%;
    }

    #site_menu #site_menu-list {
        position: absolute;
        background-color: #161616;
        top: 72px;
        left: 0;
        z-index: 100;
        height: calc(100vh - 72px);
        background-image: url('./113098-saitama-free-transparent-image-hd.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 40%;
        display: none;
        
    }
    #site_menu #site_menu-list .menu-list {
        display: block;
        flex-direction: column;
    }

}

#site_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

#site_menu #site_menu-list.active {
    display: block;
}


#site_menu #site_menu-list .menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 13px 0px;
    
    padding: 0 10px;


}

#site_menu #site_menu-list .menu-list .nav-item {
    padding: 10px 10px;
    margin: 0px 5px;

}

#header #header_logo {
    width: 250px;
    
}

#header #header_logo img {
    width: 100%;
    
}


#menu_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#menu_options #login_link {
    padding-left: 10px;
    padding-right: 10px;
    
    
}

#menu_options #search_icon {
    color: #f2f2f2;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    


}


#menu_options #header_menu {
    color: #f2f2f2;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    

}
#menu_options #header_menu:hover, 
#menu_options #header_menu:focus {
    color: dodgerblue;
}

#menu_options #search_icon:hover {
    color: dodgerblue
}


a:any-link {
    text-decoration: none;
    color: white
}

#logo {
    width: 120px;
    margin: auto;
    margin-top: 200px;
}

img {
    width: 100%;
}